<%= form_with(model: league) do |form| %>
  <% if league.errors.any? %>
    <div style="color: red">
      <h6><%= pluralize(league.errors.count, "error") %> prohibited this league from being saved:</h6>

      <ul>
        <% league.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :activity %>
    <%= form.text_field :activity, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :matches %>
    <%= form.number_field :match_total, class: 'form-control' %>
  </div>

  <div class="field my-3">
    <%= form.label :loser_scores_zero do %>
      <%= form.check_box :loser_scores_zero %>
      loser scores zero?
    <% end %>
  </div>

  <div class = 'actions'>
    <%= form.submit %>
  </div>
<% end %>
