<p>
  <strong>League:</strong>

  <select id="show_pages">
    <!-- https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-options_for_select-->
    <!-- value, option text, selected -->
    <!-- [["SimKann", 1, {"data-showurl"=>"http://localhost:3000/leagues/1"}],
         ["MonNight", 2, {"data-showurl"=>"http://localhost:3000/leagues/2"}]],
         1 -->
    <%= options_for_select(@leagues, params[:id]) %>
  </select>

</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="pr-3 pr-md-5">Matches</th>
      <th class="pr-3 pr-md-5"><%= link_to 'Score', league_path(params[:id], sort_by: 'score') %></th>
      <% unless @league.loser_scores_zero?%>
        <th class="pr-3 pr-md-5">Win %</th>
        <th class="pr-3 pr-md-5"><%= link_to 'Average Score', league_path(params[:id], sort_by: 'average') %></th>
      <% end %>
      <th>Position</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td ><%= link_to player.name, player, class: ('text-primary' if player.priority?) %></td>
        <td><%= player.matches_in(@league).size %></td>
        <td><%= player.result(@league, Time.zone.now)[:score] %></td>
        <% unless @league.loser_scores_zero?%>        
          <td><%= (player.matches_won_in(@league).size.to_f * 100 / player.matches_in(@league).size).round(0) %></td>
          <td><%= player.result(@league, Time.zone.now)[:average_score] %></td>
        <% end %>          
        <td><%= index + 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= line_chart(@progress_hash) %>
<%= line_chart @priority_players.map { |p|
    {name: p.name, data: p.progress(@league) }
} %>

<script>
	var userSelection = document.getElementById("show_pages");

  userSelection.onchange = function(event){
    var show_url = event.target.options[event.target.selectedIndex].dataset.showurl;
    //var option = userSelection.options[userSelection.selectedIndex];
    //var show_url = option.getAttribute("data-rc");
    window.location.replace(show_url);
  };

</script>

